/* ::::: http://m.manshijian.com/css/mobile.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    vertical-align: baseline;
    background: transparent none repeat scroll 0% 0%;
}

body {
    line-height: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
    font-size: 1px;
    width: 1px;
    height: 0px;
    visibility: hidden;
}

.all {
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

.topbg {
    background: transparent url('topbg.jpg') repeat-x scroll 0% 0%;
    height: 60px;
    width: 100%;
    float: left;
    box-shadow: 5px 5px 5px rgb(205, 205, 207);
}

.fh-tb {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.yh-tb {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.topwz {
    width: 70%;
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: rgb(0, 205, 0);
    font-size: 28px;
    line-height: 60px;
    float: left;
    text-align: left;
}

.footbg {
    border-top: 1px solid rgb(219, 219, 219);
    height: 40px;
    background-color: rgb(254, 254, 254);
    width: 100%;
    float: left;
    text-align: center;
    margin: 0px auto;
}

    .footbg .fl a {
        width: 24%;
        float: left;
        padding-top: 20px;
    }

.life-all {
    text-align: center;
    margin: 0px auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    padding-bottom: 20px;
}

.life-main {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    background: transparent url('msh-topbg.jpg') no-repeat scroll center top;
    height: 70px;
}

.ss {
    width: 90%;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

.ss-srk {
    float: left;
    background-color: rgb(255, 255, 255);
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    border-left: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
    color: rgb(202, 201, 201);
    font-size: 18px;
    font-family: "微软雅黑";
    padding-left: 10px;
    box-shadow: 2px 2px 3px rgb(223, 223, 222);
    border-top: 2px solid rgb(204, 204, 204);
    width: 65%;
}

.ssbtn {
    background-color: rgb(255, 255, 255);
    border-width: 1px medium medium;
    border-style: solid none none;
    border-color: rgb(212, 212, 207) -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 20px;
    float: right;
    padding: 5px;
    color: rgb(110, 155, 6);
    font-size: 16px;
    font-family: "微软雅黑";
    width: 70px;
    line-height: 16px;
    margin-left: 5px;
    text-decoration: none;
}

.subnav {
    width: 90%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

    .subnav .xfl {
        width: 25%;
        text-align: center;
        margin: 10px auto auto;
        float: left;
    }

.xflbg a {
    background-color: rgb(255, 255, 255);
    border-width: 1px medium medium;
    border-style: solid none none;
    border-color: rgb(212, 212, 207) -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 20px;
    float: right;
    padding: 5px;
    color: rgb(110, 155, 6);
    font-size: 16px;
    font-family: "微软雅黑";
    width: 60px;
    line-height: 20px;
    margin-left: 10px;
    text-decoration: none;
}

.life-center {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.life-nr {
    width: 100%;
    float: left;
}

.life-wid {
    width: 90%;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .life-wid .lifepic {
        width: 70px;
        height: 65px;
        float: left;
    }

    .life-wid .rightnr {
        width: 70%;
        float: left;
        margin-left: 10px;
    }

.rightnr .topwz1 a {
    color: rgb(53, 52, 52);
    font-size: 14px;
    width: 100%;
    text-align: left;
    float: left;
    line-height: 20px;
}
.topwz2 a {
    color: rgb(53, 52, 52);
    font-size: 20px;
    width: 100%;
    text-align: center;
    float: left;
    line-height: 40px;
}
.rightnr .toptb {
    float: left;
    width: 100%;
    margin-top: 5px;
}

    .rightnr .toptb .wz {
        float: left;
        font-size: 12px;
        text-align: left;
        color: rgb(102, 102, 102);
        line-height: 18px;
    }

.foot-navbg {
    background-color: rgb(236, 233, 233);
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.foot-navnr a {
    width: 20%;
    float: left;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    color: rgb(119, 168, 5);
}

.fy {
    width: 100%;
    float: left;
}

.fybtn {
    width: 300px;
    text-align: center;
    margin: auto;
}

    .fybtn a {
        border: 1px solid rgb(119, 167, 5);
        float: left;
        color: rgb(119, 167, 5);
        font-size: 14px;
        margin-left: 10px;
        padding: 5px;
        margin-top: 10px;
    }


ul#nav {
    width: 100%;
    height: 40px;
    background: rgb(0, 139, 0);
    margin: 0 auto;
    text-align: left;
}

    ul#nav li {
        display: inline;
        height: 40px;
      
    }

        ul#nav li a {
            display: inline-block;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            color: #FFF;
            font-family: "\5FAE\8F6F\96C5\9ED1";
            font-size: 16px;
        }

            ul#nav li a:hover {
                background:  rgb(0, 255, 0);
            }
