<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="ZhaoConnectString" connectionString="Data Source=BJDX11041301\liqiang; Database=ZhaoLingPu; User ID=sa; Password=dx+1234;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
